		#container {
				display: flex; /*to be side by side*/
				/*flex-flow: row wrap;*/
				flex-direction: column;
				justify-content: space-around;
				max-width: 1440px;
				align-items: center;
				margin-right: auto; /*auto margins used for centering container*/
				margin-left: auto; 
				position: relative; /* To position the header*/
				width: 100%; /*to center an element it must have width */
				padding: 10px;
				border-radius: 10px;
				font-size: 0;
			}

		.box {
				box-sizing: border-box;
				display: inline-block; /*to be side by side*/
				/*vertical-align: top; /*to align the divs*/
				flex:1;  /* give each item an equal flex number(1 for example)*/
				min-width: 300px;   /* give a minimum width for each*/
				width: 49%;
				/*height: 420px;*/
				position: relative;
				background-color: #767674;
				margin: 5px;
				font-size: 16px;
				font-family: Roboto;
				text-align: center;
				border-radius: 10px;
				border:solid 1px grey;/*create a black solid border of 1px*/
				padding: 30px 0;
				opacity: 0.9;
			}
			h2 {
				color: gold;
			}
			h3 {
				color: gold;
			}
			h4 {
				color: gold;
			}
			p{
				text-indent: 50px;
				padding: 25px;
				color: white;
			}
			p::first-letter {
     			font-weight: bolder;
     			font-size: 1.6em;
     			color: white;
     			opacity: 0.8;
			}

			#pic1 {
				 float: left;
				 margin: 0px 25px 25px 25px;
				 border: solid 1px black;
			}

			#pic2 {
				float: right;
				margin: 0px 25px 25px 25px;
				border: solid 1px black;
			}

			#pic3 {
				 float: left;
				 margin: 0px 25px 25px 25px;
				 border: solid 1px black;
			}

			#pic4 {
				float: right;
				margin: 0px 25px 25px 25px;
				border: solid 1px black;
			}

			body {
				
				background-image: url("/images/Loopers6.png"); /*to set the background image*/
				background-size: cover;
				background-repeat: no-repeat;
    			background-attachment: fixed;/* maintains image positionwhile scrolling*/
			}
			.navbar{
				font-family: Roboto;
				font-size: 1.2em;
				background: none;
				border: none;
				/*background-color: #483D8B;*/
				margin: 30px auto;
				width: 90%;
				/*height: 600px;*/
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: center;
				list-style-type: none;
				padding: 0;	
				
			}
			.navbar-default .navbar-brand {
				color: #fff;
				font-size: 2em;
				font-weight: bold;
			}
			.nav.navbar-nav li a{
				color: #fff;
			}
		
			.navbar-default .navbar-brand:hover {
				color: black;
				font-weight: bold;
				
			}
			.nav.navbar-nav li a:hover{
				color: black;
			}
			li {
				margin-bottom: 10px;
			}
				
			a{
				text-decoration: none;
				color: white;
				flex: 1;
				height: 30px;
				font-family: Dosis;
				padding:20px;
				text-align: center;
				font-size: 1em;
				/*align-items: baseline;*/
				/*border: 1px solid #fff;*/
			}
			a:hover {
				color: black;
     			background-color: none;
     			transition: all .3s ease;
     			border-radius: 10px;
     			/*opacity: 0.8;*/
     		}
			#logoNav{
				font-size: 2em;
				font-weight: bold;
				align-content: center;
				/*text-align: center;*/
			}
			/* ------------------Landing------------------------*/
			#landing{
				display: flex; /*set as a flex container*/
				flex-direction:column; /*mobile first approach*/
				justify-content:center;/* for the crox axis alignment*/
				align-items:center; /* for the main axis alignment*/
			}
			#landing-message{
				text-align: center;
				font-family: Dosis;
				font-weight: bold;
				font-size: 30px;
				margin:50px 20px;
			}
			#landing-message:hover{
				color: black;
			}
			#footer1{
				position: fixed;
				bottom: 0;
				width: 100%;
				color: #fff;
				text-align: center;
			}
			
			#footer2{
				color: #fff;
				text-align: center;
			} 

		@media screen and (min-width: 700px){
			.navbar {
				display: flex;
				flex-flow: row wrap;
				align-items: baseline;
				height: 60px;
				border-radius: 10px;
				justify-content: space-between;
			}
			#fbdiv {
    			position: relative;
    			/*bottom: 0;*/
   			    left: 40%;
   			    /*margin: auto;*/
    			top: 30px;
   				/*width: 50%;*/
    			height: 100px;
			}

			a{
				font-size: 1.3em;
				border: none;
				height: 30px;
			}
			a:hover {
				color: black;
     			background-color: none;
     			transition: all .3s ease;
     			border-radius: 10px;
     			/*opacity: 0.8;*/
     		}

			#logoNav{
				flex: 6;
				text-align: left;
				align-items: center;
			}
			
						/* Landing */
			#landing{
				flex-direction:row;/* across screen for dexktop screen size*/
				justify-content: center;
				width:80%;
				margin: 100px auto;
				color: #fff;
			}
			#landing-message{
				text-align: center;
				font-family: Dosis;
				font-weight: bold;
				font-size: 35px;
				margin:50px 20px;
			}
			#landing-message:hover{
				color: black;
			}
			#footer1{
				position: fixed;
				bottom: 0;
				width: 100%;
				color: #fff;
				text-align: center;
			} 
			#footer1:hover{
				color: black;
			}
			#footer2:hover{
				color: black;
			}
		}