<div class="container">

	<div class="vertical-center-row">

		<div align="center">

	<div id= "image1" class="box"><h3> A Brief History </h3>
	<figure><figcaption>photo: Colm Keating</figcaption>
		<img id="pic1" src="images/Graham_Godin.jpg" alt="GrahamGodin" width="250" height="217">
	
	</figure>
		<p>Born in Dublin, Ireland, in 1974, Graham Dunne is a multi-talented and very versatile musician. Until very recently, Graham spent a great number of years living in County Clare and while there, was very much involved in the Irish Traditional music scene, having had the pleasure of accompanying a vast array of wonderfully talented local musicians during that time.</p>

	    <p>Dunne, however, is a musician of eclectic taste, and his musical explorations have seen him dabble in Jazz, Flamenco and Indian music, even going so far as to study tabla for a time, which he now plays at sessions regularly in Dublin. This eclecticism has led to the accumulation of a vast repertoire of material, from which Graham has performed solo guitar gigs in restaurants and at weddings, and most especially of all in August 2016 at the Dublin Guitar Night in J.J. Smyth's of Dublin, at the invitation of renowned Dublin Jazz guitarist, <i>Hugh Buckley</i>.</p>

		<p>In recent years, Graham completed a <i>BSc. in Music, Media and Performance Technology</i> at the Dept. of Computer Science and Information Systems (CSIS) in the University of Limerick (2008-2012), and a <i>Master of Arts in Music Technology</i> (2013-2014), also at the University of Limerick. Studying and working with technology has led to a big interest in computer music composition, computer programming, surround sound composition and music production, and has certainly seen Graham spend a little less time with the guitar and more time with the computer, exploring new methods of composition, always aware of the conundrum that is music composition for humans using a machine.</p>

		<p>Although generally captivated by the computer as an instrument, Graham still maintains a professional career as a guitarist and as accompanist to long time partner and Irish folk/trad singer of note, <i>Niamh Parsons</i>, while also keeping his hand in with solo fingerstyle jazz guitar arrangements, amongst other things. He has produced and co-produced a number of albums, including their very own and well received <i>'Kind Providence'</i> (2016), and Mark Anthony McGrath's <i>'The Weiss Machine Vol. 1'</i> (2015). Graham also works casually as an audio engineer, having worked on and produced several exciting demos in the last 18 months. Most recently, Graham has signed up for twelve months of online guitar tuition with top Jazz guitarist, Martin Taylor, MBE, and is currently working on an electroacoustic music collection, due for release sometime this year.</p>
	
			</div>
		</div>
	</div>
</div>

<!--<div id="fbdiv"
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>-->

	<div id= "footer2">
		<h6>Website by Gramsham Multi Media Productions. Copyright © 2017. Graham Dunne. All Rights Reserved.</h6>
	</div>

 <div 

 	ng-view>
 
 </div>