

<div class="container">

	<div class="vertical-center-row">

		<div align="center">


			<div id= "Contact" class="box"><h3>How to contact Graham?</h3>
				<p>If you would like to contact Graham regarding solo performances, guitar lessons, transcriptions or recording projects,
		    		please fill out the form below, or simply email executiveguitarist (at) gmail (dot) com.</p>
		
					<form action="mailto:info@grahamdunnemusic.com" method="post" enctype="text/plain">
						Name:<br>
						<input type="text" name="name"><br>
						E-mail:<br>
						<input type="text" name="mail"><br>
						Comment:<br>
						<input type="text" name="message" size="30"><br><br>
						<input type="submit" value="Send">
						<input type="reset" value="Reset">
						</form>



			</div>
		</div>
	</div>
</div>

<!--<div id="fbdiv"
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>-->


