<!DOCTYPE html>
<html>
<head>
	
	<meta charset="UTF-8">
	<title>Guitar | Graham Dunne</title>
	<meta property="og:title" content="Guitar | Graham Dunne" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://www.grahamdunnemusic.com/guitar" />
	<meta property="og:image" content="http://www.grahamdunnemusic.com/images/Loopers6.png" />
	<meta property="fb:app_id" content="1498139396870513"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
	<link rel='stylesheet' type='text/css' href='bootstrap/css/bootstrap.min.css' />
	<link rel="stylesheet" type="text/css" href="myStyle.css" media="screen" />
<body>

<!--<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1498139396870513',
      xfbml      : true,
      version    : 'v2.8'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>-->

	<!--<nav>
  		<a id="logoNav" href="index.html">Graham Dunne</a> 
     	<a href="bio.html">About</a>
     	<a href="productions.html">Productions</a>
     	<a href="compositions.html">Compositions</a>
     	<a href="guitar.html">Guitar</a>
     	<a href="transcriptions.html">Transcriptions</a>
     	<a href="contact.html">Contact</a>
	</nav>-->

	<!--add classes to fix nav to top and change nav color-->
	<nav class="navbar navbar-default navbar-top">		
		<div class='container'>

		    <div class="navbar-header">
		    	<a class="navbar-brand" href="index.html">Graham Dunne</a>
		    	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myCollapsingList">
	   	   			<span class="icon-bar"></span>
          			<span class="icon-bar"></span>
           			<span class="icon-bar"></span>
        		</button>
		    </div>	    
		    <ul  id="myCollapsingList" class ="nav navbar-nav collapse navbar-collapse navbar-right"> 
				 <li><a href="bio.html">About</a></li>
			     <li><a href="productions.html">Productions</a></li>
			     <li><a href="compositions.html">Compositions</a></li>
			     <li><a href="guitar.html">Guitar</a></li>
			     <li><a href="transcriptions.html">Transcriptions</a></li>
			     <li><a href="contact.html">Contact</a></li>
			</ul>
		</div>
	</nav>

<div class="container">

	<div class="vertical-center-row">

		<div align="center">

	<div id= "image1" class="box"><h3> A Selection of Guitar Pieces: </h3>
	
	<h4>----Darn That Dream (November, 2016)----</h4>
	<p>Learnt from the 'Music of Jimmy van Heusen' video by Martin Taylor, this is Graham's attempt at this beautiful ballad from 1939, recorded while A/B testing guitars in front of a Neumann KM 184.</p>
	 <audio controls= "controls" preload="auto">
 		<source src="music/DarnThatDream.mp3" type="audio/mpeg; codecs=mp3"/>
 	 <!-- add other fallback solution here, eg. Your browser does not support the <code>audio</code> element -->
 	</audio><br><br>

 	<h4>----What's New? (November, 2016)----</h4>
	<p>From the same session as 'Darn That Dream', this is a fingerstyle version of a Frank Evans arrangement from a 1994 issue of Guitar Techniques magazine.</p>
	 <audio controls= "controls" preload="auto">
 		<source src="music/WhatsNew.mp3" type="audio/mpeg; codecs=mp3"/>
 	</audio><br><br>

 	<h4>----Tremolo Study (April, 2016)----</h4>
	<p>A residual study from time spent with Flamenco, this is a beautiful piece by the great teacher, Oscar Herrero.</p>
	 <audio controls= "controls" preload="auto">
 		<source src="music/TremeloEminor.mp3" type="audio/mpeg; codecs=mp3"/>
 	</audio><br><br>

 	<h4>----The Lost Arpeggio (March, 2012)----</h4>
	<p>Composed and recorded while supposed to have been studying, this is Graham checking out a Taylor acoustic guitar that he eventually purchased from a friend whilst living in the beautiful County Clare.</p>
	 <audio controls= "controls" preload="auto">
 		<source src="music/LostArpeggio.mp3" type="audio/mpeg; codecs=mp3"/>
 	</audio><br><br>

	
	
			</div>
		</div>
	</div>
</div>

<!--<div id="fbdiv"
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>-->

	<div id= "footer2">
		<h6>Website by Gramsham Multi Media Productions. Copyright © 2017. Graham Dunne. All Rights Reserved.</h6>
	</div>
</body>
<script src='http://code.jquery.com/jquery.min.js'></script>
<script src='bootstrap/js/bootstrap.min.js'></script>
</html>