<div class="container">

	<div class="vertical-center-row">

		<div align="center">

	<div id= "image1" class="box"><h3> A Selection of Guitar Pieces: </h3>
	
	<h4>----Darn That Dream (November, 2016)----</h4>
	<p>Learnt from the 'Music of Jimmy van Heusen' video by Martin Taylor, this is Graham's attempt at this beautiful ballad from 1939, recorded while A/B testing guitars in front of a Neumann KM 184.</p>
	 <audio controls= "controls" preload="auto">
 		<source src="/music/DarnThatDream.mp3" type="audio/mpeg; codecs=mp3"/>
 	 <!-- add other fallback solution here, eg. Your browser does not support the <code>audio</code> element -->
 	</audio><br><br>

 	<h4>----What's New? (November, 2016)----</h4>
	<p>From the same session as 'Darn That Dream', this is a fingerstyle version of a Frank Evans arrangement from a 1994 issue of Guitar Techniques magazine.</p>
	 <audio controls= "controls" preload="auto">
 		<source src="/music/WhatsNew.mp3" type="audio/mpeg; codecs=mp3"/>
 	</audio><br><br>

 	<h4>----Tremolo Study (April, 2016)----</h4>
	<p>A residual study from time spent studying Flamenco, this is a beautiful piece by the great guitarist and teacher, Oscar Herrero.</p>
	 <audio controls= "controls" preload="auto">
 		<source src="/music/TremeloEminor.mp3" type="audio/mpeg; codecs=mp3"/>
 	</audio><br><br>

 	<h4>----The Southwest Wind/The Petticoat Loose (Jigs, 2005)----</h4>
	<p>From the album 'Live at Fylde', here is the only solo guitar track, a set of jigs learnt from the wonderful 'Southwest Wind' album by the legendary Peter O'Loughlin and Ronan Browne.</p>
	 <audio controls= "controls" preload="auto">
 		<source src="/music/Southwest.mp3" type="audio/mpeg; codecs=mp3"/>
 	</audio><br><br>

 	<h4>----Moll & Poll Halfpenny (Hornpipes, 2005)----</h4>
	<p>Two old hornpipes learnt from the playing of Maeve Donnelly, Peadar O'Loughlin, Ronan Browne and Geraldine Cotter on their album 'The Thing Itself. Accompanied by the inimitable Dennis Cahill.</p>
	 <audio controls= "controls" preload="auto">
 		<source src="/music/moll.mp3" type="audio/mpeg; codecs=mp3"/>
 	</audio><br><br>

 	<h4>----Jenny Picking Cockles/ The Collier's (Reels, 2002)----</h4>
	<p>Two fairly common reels learned from the wonderful book 'The Dance Music of Willie Clancy' by Pat Mitchell. Lucky enough to be given the opportunity to record these tunes on Niamh Parsons' album 'Heart's Desire', Dennis Cahill's first production, and wonderfully accompanied here by the one and the same man.</p>
	 <audio controls= "controls" preload="auto">
 		<source src="/music/Jenny.mp3" type="audio/mpeg; codecs=mp3"/>
 	</audio><br><br>

	
	
			</div>
		</div>
	</div>
</div>

<!--<div id="fbdiv"
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>-->

	<div id= "footer2">
		<h6>Website by Gramsham Multi Media Productions. Copyright © 2017. Graham Dunne. All Rights Reserved.</h6>
	</div>

