<div class="container">
	<div class='row'>
		<div class='col-md-12'>
			<div id= "landing">
				<div id="landing-message">
					Welcome to the official website of Graham Dunne - guitarist, audio engineer, music producer, music systems programmer, and electroacoustic music composer.
				</div>
			</div>
		</div>
	</div>
</div>

<!--<div id="fbdiv"
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>-->


<div id= "footer1">
	<h6>Website by Gramsham Multi Media Productions. Copyright © 2017. Graham Dunne. All Rights Reserved.</h6>
</div>