<!DOCTYPE html>
<html>
<html ng-app='grahamdunnemusic'>
<head>
	<base href="/"> <!-- needed for Angular HTML 5 mode -->
	<meta charset="UTF-8">
	<title>Home | Graham Dunne</title>
	<meta property="og:title" content="Home | Graham Dunne" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://www.grahamdunnemusic.com" />
	<meta property="og:image" content="http://www.grahamdunnemusic.com/css/images/Graham_Godin.jpg" />
	<meta property="fb:app_id" content="1498139396870513"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/myStyle.css" media="screen" />
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
	
	<script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/angular-route/angular-route.js"></script>
	
</head>

<body>

<!--<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1498139396870513',
      xfbml      : true,
      version    : 'v2.8'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>-->

	<!--<nav>
  		<a id="logoNav" href="index.html">Graham Dunne</a> 
     	<a href="bio.html">About</a>
     	<a href="productions.html">Productions</a>
     	<a href="compositions.html">Compositions</a>
     	<a href="guitar.html">Guitar</a>
     	<a href="transcriptions.html">Transcriptions</a>
     	<a href="contact.html">Contact</a>
	</nav>-->

	<!--add classes to fix nav to top and change nav color-->
	<nav class="navbar navbar-default navbar-top">		
		<div class='container'>

		    <div class="navbar-header">
		    	<a class="navbar-brand" href="index.html">Graham Dunne</a>
		    	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myCollapsingList">
	   	   			<span class="icon-bar"></span>
          			<span class="icon-bar"></span>
           			<span class="icon-bar"></span>
        		</button>
		    </div>	    
		    <ul  id="myCollapsingList" class ="nav navbar-nav collapse navbar-collapse navbar-right"> 
				 <li><a href="/templates/bio.html">About</a></li>
			     <li><a href="/templates/productions.html">Productions</a></li>
			     <li><a href="/templates/compositions.html">Compositions</a></li>
			     <li><a href="/templates/guitar.html">Guitar</a></li>
			     <li><a href="/templates/transcriptions.html">Transcriptions</a></li>
			     <li><a href="/templates/contact.html">Contact</a></li>
			</ul>
		</div>
	</nav>

<div class="container">

	<div class="vertical-center-row">

		<div align="center">


	<div id= "image1" class="box"><h3>Some production work to date:</h3>
		
	<h4>----Niamh Parsons & Graham Dunne - Kind Providence (2016)----</h4>
	<figure>
		<a href="http://www.cdbaby.com/cd/niamhparsons"><img id="pic1" src="images/kindprovidence.jpg" alt="Kind Providence Album Cover" width="200" height="200">
		</a>
	</figure>
	<p>Destined to become a classic in the folk genre, this album is Graham's first fully fledged production from start to finish. It is quite an innovative album, subtly blending acoustic instruments such as piano and guitar with software instruments and digitally processed sounds (those of voice and guitar). The kind of instrumentation used is more commonly found in other genres of music such as ambient, electroacoustic, electronic and pop, however, Graham has managed to use these instruments and sounds in a very organic way, producing an album of great variety and taste, always at the service of Niamh's inimitable voice.</p>
	
	<p>The album has received rave reviews, and may it be the first of many...</p>
	
	

	<h4>----Mark Anthony McGrath - The Weiss Machine Vol. 1 (2015)----</h4>

		<figure>
			<a href="http://www.markanthonymcgrath.com"><img id="pic2" src="images/weissmachine.jpg" alt="The Weiss Machine" width="100" height="100"></a>
		</figure>

		<p>Co-produced with Mark Anthony himself, this album represents Graham's first big studio project. In fact, 'The Weiss Machine' is a first for both the world of guitar and that of classical music - a solo album featuring the music of Sylvius Leopold Weiss, played on a specially designed thirteen string guitar.</p>
		
		<p>Carefully recorded using a stereo pair of DPA 4011s in the Master's studio at the University of Limerick during a one year Master of Arts degree, the album was recorded, edited, mixed and mastered by Graham and is one of Mark's best sounding albums to date. Hopefully, it will be a forerunner of what will become a string of Weiss albums by Mark, and of future collaborations between the pair.
		</p>

	

	<h4>----Niamh Parsons & Graham Dunne - Live at Fylde (2006)----</h4>

		<a href="http://www.cdbaby.com/cd/parsonsdunne"><img id="pic3" src="images/fylde.jpg" alt="Live at Fylde" width="200" height="200"></a>
		
		<p>'Live at Fylde' has become a classic in the world of folk music. An electric performance with a magical atmosphere, this album was recorded at Fylde Folk Festival, Fleetwood, England in 2005.</p>
		
		<p>Recorded by Alistair Russell, this album features exemplary performances by both Niamh and Graham - Niamh as a powerful singer and Graham as a very subtle accompanist and fiery soloist.</p>

	<h4>----Giotáraí - Solo Guitar Album (2004)----</h4>

		<a href="http://www.cdbaby.com/cd/grahamdunne"><img id="pic4" src="images/giotaraiCover.jpg" alt="Graham Solo Album Cover " width="200" height="200"></a>
		
		<p>This is Graham's first effort at a solo guitar project and the album was well very received indeed. Inspired for years by the likes of Arty McGlynn's 'McGlynn's Fancy' and Dick Gaughan's 'Coppers and Brass', this album is a valiant solo guitar effort for what it is - a very straightforward, uncluttered album, with several arrangements of flatpicking Irish traditional melodies and also some fingerstyle pieces such as Django Reinhardt's 'Tears'. It also features an original composition in 7/8 time.</p>
		
		<p>Recorded on acoustic and electric guitar using an AKG C1000 microphone and a Zoom 8 track recorder, production doesn't come more innocent and minimalist than this, yet this is no nonsense music with plenty of finger-blistering, one-take performances throughout.</p>

			</div>
		</div>
	</div>
</div>

<!--<div id="fbdiv"
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true"
</div>-->

	<div id= "footer2">
		<h6>Website by Gramsham Multi Media Productions. Copyright © 2017. Graham Dunne. All Rights Reserved.</h6>
	</div>
 <div ng-view>
 
    </div>

<script src='js/app.js'></script>
<script src='js/controller.js'></script>
<script src='js/service.js'></script>

</body>
</html>